/* General Page Settings */
body {
    background: #C8B081;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    margin: 0;
    font-weight: 500;
}

/* General Button Settings */
button {
    border-radius: 300px;
    border: solid 12px rgb(42, 42, 42);
    font-family: monospace;
}

/* Table Settings */
table {
    border-left: solid 12px rgb(42, 42, 42);
    padding: 5px;
    text-align: right;
    position: fixed;
    top: 0px;
    right: 0px;
    background-color:rgb(91, 64, 51);
    font-size: 70px;
    text-align: center;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    height: 100%;
    color: rgb(255, 246, 194);
    z-index: 4;
}

td, th {
    border-bottom: solid 4px rgb(65, 46, 36);
    padding: 10px;
}


/* ELEMENT IDS ONLY VVV----------VVV */
/* Wav Clicker Button */
#waavBTN{
    position: fixed;
    font-size: 10px;
    background: #434a59;
    color: rgb(42, 42, 42);
    left: 40%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 150px;
    transition:padding 0.1s;
    transition-timing-function: ease-in-out;
    width: 10px;
}
#waavBTN:hover{
    padding: 160px;
    cursor: pointer;
}
#waavBTN:active{
    padding: 175px;
}

/* Waav Value */
#waav{
    padding: 5px 10px;
    font-size: 100px;
    color: rgb(31, 31, 31);
    font-weight: 900;
    position: fixed;
    left: 40%;
    top: 15%;
    transform: translate(-50%, -50%);
}

/* Shop */
#shop {
    position: fixed;
    right: 0;
    margin: 10px;
}
.shopBTNS {
    font-size: 25px;
    font-family: monospace;
    border-radius: 25px;
    transition: ease-in-out 0.05s;
    transition-timing-function: ease-in-out;
    width: 250px;
    padding: 25px 10px;
    margin: 2px 7px;
    border: 5px solid rgb(42, 42, 42);
    font-family: monospace;
    font-weight: 500;
    background: rgb(31, 31, 31);
    color: rgb(255, 246, 194);
    z-index: 5;
}
.shopBTNS:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.shopBTNS:active{
    transform: scale(1.01);
}


  
/* Click Stats */
#clickAmount{
    position: fixed;
    font-family: monospace;
    font-weight: 500;
    bottom: 10;
    left: 10;
    background: rgb(31, 31, 31);
    color: rgb(255, 246, 194);
    padding: 10px;
    border-radius: 12px;
    border: 5px solid rgb(42, 42, 42);
    transition: ease-in-out 0.1s; 
}
#clickPS{
    position: fixed;
    font-family: monospace;
    font-weight: 500;
    left: 10px;
    bottom: 80px;
    background: rgb(31, 31, 31);
    color: rgb(255, 246, 194);
    border-radius: 10px;
    border: 5px solid rgb(42, 42, 42);
    padding: 10px;
    visibility: hidden;
    transition: ease-in-out 0.1s;
}

/* Critical Hit Text */
#critical {
    font-size: 26px;
    position: fixed;
    top: 15px;
    left: -500px;
    z-index: 1;
    font-weight: 900;
    color: rgb(255, 246, 194);
    font-family: monospace;
    font-weight: 500;
    background-color: rgb(60, 43, 60);
    padding: 10px;
    border-radius: 10px;
    border: 5px solid rgb(75, 56, 75);
    transition: left 0.3s ease;
}

#critical.is-active{
    left: 15px;
}

/*shop desc*/
#itemDesc{
    position: fixed;
    right: 500px;
    bottom: 15px;
    background: red;
    background-color:rgb(91, 64, 51);
    color: rgb(255, 246, 194);
    padding: 10px;
    transition: right 0.5s ease;
}

#itemDesc.is-active{
right: 600px;
}

/* ELEMENT CLASSES ONLY VVV----------VVV */
